<br/><br/>
<div class="container">
  <form ng-submit="addPost(newpost)" class="form-horizontal">
    <div class="form-group"><br/><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
      <input type="text" placeholder="Title your post" ng-model="newpost.title" class="form-control"/><br/>
    </div>
    <div class="form-group">
      <textarea placeholder="What's on your mind?" rows="3" ng-model="newpost.text" class="form-control"></textarea><a ng-model="newpost.photo" ng-click="pickFile()" class="btn btn-default">Photo Upload      </a>
      <button type="submit" class="btn btn-default">Publish</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $.material.init();
  });
</script>