br
br
div(class="container")
  form(class="form-horizontal" ng-submit="addPost(newpost)")
      div(class="form-group")
        br
        span(class="glyphicon glyphicon-pencil" aria-hidden="true")
        input(type="text" class="form-control" placeholder="Title your post" ng-model="newpost.title")
        br
      div(class="form-group")
        textarea(class="form-control" placeholder="What's on your mind?" rows="3" ng-model="newpost.text")
        a(class="btn btn-default" ng-model="newpost.photo" ng-click="pickFile()" ) Photo Upload      
        button(type="submit"  class="btn btn-default") Publish

script(type="text/javascript").
        $(document).ready(function(){
            $.material.init();
        });


  