footer(class="footer")
  div(class="container bottom")
    ul(class="col-md-offset-2 col-md-4")
      li(class="mdi mdi-twitter")
      li(class="mdi mdi-facebook")
      li(class="mdi mdi-tumblr")
      li(class="mdi mdi-instagram")
      li(class="mdi mdi-pinterest")

    h6 ©2015 Developed & Designed by Felice DeNigrisvwith use of Bootstrap Material Design.

      
