div(class="container")
  br
  br
  h1 Login
  form(ng-submit="login(user)")
    div(class="input-group")
      div(class="input-group-addon")
        span(class="glyphicon glyphicon-envelope" aria-hidden="true")
      input(type="email" class="form-control" ng-model="user.email" placeholder="Email" required)
    br
    br
    div(class="input-group")
      div(class="input-group-addon")
        span(class="glyphicon glyphicon-lock" aria-hidden="true")
      input(type="password" class="form-control" ng-model="user.password" placeholder="Password")
    input(type="submit" value="Login" class="btn btn-black")
script(type="text/javascript").
      $(document).ready(function(){
          $.material.init();
      });  
