div(class="navbar navabar-default" ng-controller="NavCtrlr")
  div(class="navbar-header")
    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      span(class="icon-bar")
      span(class="icon-bar")
      span(class="icon-bar")
    a(class="navbar-brand" href="/#/" id='title') Love letters to my Girlfriends
  div(class="navbar-collapse collapse navbar-responsive-collapse")
    ul(class="nav navbar-nav")
      li(ng-repeat="page in pages")
        a(href="#/page/{{pages.indexOf(page)}}") {{page.title}}

    div(class="navbar-collapse collapse navbar-responsive-collapse")
      ul(class="nav navbar-nav") 
        li(ng-show="authData.google.displayName === 'Kelly Roche' || authData.facebook.displayName === 'Kelly Roche'")
          a(href="#/create") Create a Post 
        li(id="profile" ng-show="loggedIn")
          a() Hello!
            i 
              img(src="{{authData.google.profileImageURL || authData.facebook.profileImageURL}}" class="img-responsive img-circle" style="max-width: 45px; display:inline-block; margin-top:-13px")
          
      ul(class="nav navbar-nav navbar-right") 
        li(ng-hide="loggedIn")
          a(href="#/login") Login
        li(ng-show="loggedIn" class="dropdown") 
          a(href="" class="dropdown-toggle" data-toggle="dropdown") 
            i(class="mdi mdi-account")
            span(class="caret")
          ul(class="dropdown-menu" role="menu")
            li
              a(href="" ng-click="logout()")
                i(class="mdi mdi-account-remove")   Log Out

  div(class="modal fade" id="pasModal" role="dialog"  ng-controller="AuthController")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
          h5(class="modal-title") Change Password
        div(class="modal-body")
          form(ng-submit="changePassword(user)")
            input(type="email" ng-model="user.email" placeholder="Email" class="form-control" required)
            br
            input(type="password" ng-model="user.oldpass" placeholder="Old Password" class="form-control" required)
            br
            input(type="password" ng-model="user.newpass" placeholder="New Password" class="form-control" required)
            br
            input(type="submit" value="Update"  class="btn btn-danger")


  script(type="text/javascript").
    $(document).ready(function(){
        $.material.init();
    });  