
<div ng-controller="NavCtrlr" class="navbar navabar-default">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/#/" id="title" class="navbar-brand">Love letters to my Girlfriends</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li ng-repeat="page in pages"><a href="#/page/{{pages.indexOf(page)}}">{{page.title}}</a></li>
    </ul>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li ng-show="signedIn()"><a href="#/create">Create a Post {{authData.uid}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
        <li ng-hide="signedIn()"><a href="#/login">Login</a></li>
        <li ng-show="signedIn()" class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">{{currentUser.profile.name}}<i class="mdi mdi-account"></i><span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a data-toggle="modal" data-target="#pasModal"><i style="cursor:pointer;" class="mdi mdi-account-key">Change Password</i></a></li>
            <li><a href="" ng-click="logout()"><i class="mdi mdi-account-remove">  Log Out</i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="pasModal" role="dialog" ng-controller="AuthController" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"></button><span aria-hidden="true">&times;</span>
          <h5 class="modal-title">Change Password</h5>
        </div>
        <div class="modal-body">
          <form ng-submit="changePassword(user)">
            <input type="email" ng-model="user.email" placeholder="Email" required="required" class="form-control"/><br/>
            <input type="password" ng-model="user.oldpass" placeholder="Old Password" required="required" class="form-control"/><br/>
            <input type="password" ng-model="user.newpass" placeholder="New Password" required="required" class="form-control"/><br/>
            <input type="submit" value="Update" class="btn btn-danger"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
        $.material.init();
    });  
  </script>
</div>