div(class="container")
  h1(class="page-header") {{page_content.title}}
  p {{page_content.content}}
//initialize ripple       
script(type="text/javascript").
        $(document).ready(function(){
            $.material.init();
        }); 