div(class="container")
  h1(class="page-header") {{post.title}}
  p {{post.text}}
  //image(src={{post.picture}} class="img-responsive" alt="Responsive image")
  p {{post.photo}}
  
//initialize ripple       
script(type="text/javascript").
        $(document).ready(function(){
            $.material.init();
        }); 