div(class="container")
  h1(class="page-header")
    {{selectedPost.title}} 
  h4
    {{selectedPost.text}}

  div(ng-show="selectedPost.photo !=''" class="col-md-offset-2 col-md-8 col-md-offset-2")
    div(ng-repeat="photo in selectedPost.photo" class="container-fluid")
      image(ng-src="{{photo}}" class="img-responsive")