$red: #77D3FF;
$font-stack: Helvetica;
$black: rgba(25,25,25,0.9);

//@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,600); //Raleway Font

//over ride navbar material design color to black
.navbar.navbar{
  background-color: $black;
}
.warning-box{
  display:none;
  position:absolute;
  opacity: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  animation-name: register-notify;
  animation-delay: 1000ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.56, 1.38);
  animation-duration: 2700ms;
  @keyframes register-notify{
    0%{
      top: -100px;
    }
    40%{
      opacity: 1;
      top: 0;
    }
    60%{
      opacity:1;
    }
    99%{
      opacity:0;
      top:200px;
    }
    100%{
      display: none;
    }
  }

}
#profile{
  //float:right;
  position:absolute;
  right: 50px
}
// override a to black w alpha
a{
  color:rgba(0,0,0,0.18);
}
//right-side-nav
.right-side-nav{
  float:right;
}
.mdi{
  font-size: 1.4em;
  @media screen and(max-width: 500px){
    font-size: 1em;
  }
}
.mdi-account{
  color:rgb(255,255,255);
}

#title{
  //font-family: 'Raleway' ,sans-serif;
  font-weight: 100;
}
.footer{
  display:inline;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(25,25,25,0.9);
  transition: all 500ms ease-in-out;
  .container.bottom{
    color: white;
    ul{
      top: 15px;
      margin: 0px;
      padding: 0px;
      list-style: none;
      float: left;
      li{
        margin-right: 3px;
        display:inline;
      }
    }
    h6{
      font-weight: 200;
      top: 10px;
      color: rgba(90,90,90,1);
      margin-left: auto;
      margin-right: auto;
      position:relative
    }
  }
}

.modal-title{
  color: $black;
  font-weight:500;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
.modal-content .modal-header{
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
}

//Footer styling when screen scale is below 992px
@media screen and (max-width: 992px){
  .footer{
    height: 100px;
    .container.bottom{
      margin-left:auto;
      margin-right:auto;
      width: 350px;
      ul{
        li{
          font-size: 4em;
        }
      }
      h6{
      display: none;
      }
    }
  }
}
@media screen and (max-width: 500px){
  .footer{
    .container.bottom{
      width: 250px;
      ul{
        top:0px;
      }
    }
  }
}

//Footer positioning when browser height is below

@media screen and (max-height: 500px){
  .footer{
    opacity: 0;
    bottom: -60px;
    transition: all 500ms ease-in-out;
  }
}
#commenter {
    position: relative;
    bottom: 45px;
    left: 45px;
    font-size: 12px;
    font-style: oblique;
    font-weight: 500;
    z-index: 2;
    margin-right: 2px;
    @media screen and (max-width: 1200px){
      bottom: 0px;
      left: 0px;
      font-size: 10px;
      width: 200px;
    }
}

